
@{
    ViewBag.Title = "Index";
}

<h2> PAGE 2</h2>

<div class="row">
    <div class="col-md-4">
        <div class="icon-box">
            <img scr="" alt="" />
            ХУЙ
        </div>
    </div>
    <div class="col-md-4">
        <div class="icon-box">
            <span class="fa fa-anchor"></span>
            <div class="xuy">
                <div class="lox">

                </div>

                <div class="pizda">
                    <div class="xuy2">

                    </div>
                    <div class="dolbaeb">

                    </div>
                </div>
            </div>
            ЯКОРЬ
        </div>
    </div>
    <div class="col-md-4">
        <div class="icon-box min">

        </div>
    </div>
</div>

<p>я рисую как художник <span style="color: red;">ебожник</span></p>