body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Roboto, sans-serif";
    margin-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.icon-box{
    font-size: 20px;
}

.icon-box span{
    font-size: 40px;
}

.icon-box .min{
    font-size: 10px;
}

.icon-box{

}

.icon-box .xuy{
    
}

.icon-box .xuy .pizda{

}

..icon-box .xuy .pizda .dolbaeb{

}